# Compiled class file
*.class

# Log file
*.log


.DS_Store
*.iml
*.class
*.jar
*.properties
*.lst
out/*
.idea
.gradle
GeoResto/app/src/debug/res/values/google_maps_api.xml
GeoResto/app/src/release/res/values/google_maps_api.xml
