
#map {
    -fx-background-image: url("../Images/map.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0, 15;
}

#logo {
    -fx-background-image: url("../Images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0, 15;
}

#plus {
    -fx-background-image: url("../Images/plus_button.png");
}

#search {
    -fx-background-image: url("../Images/Search-icon.png");
    -fx-background-repeat: no-repeat;
}

.button,.toggle-button{
      -fx-background-color: #c70039;
      -fx-border: none;
      -fx-font: 10px "Arial Black", Gadget, sans-serif;
      -fx-background-radius:0px;
      -fx-text-align: center;
      -fx-text-fill: white;
      -fx-text-decoration: none;

    }

/*
* Split Menu Button
*/
.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover {
    -fx-color: derive(#c70039, -50%);
}
.split-menu-button:armed > .label,
.split-menu-button > .arrow-button:pressed,
.split-menu-button:showing > .arrow-button {
    -fx-color: #c70039;
}
.split-menu-button:disabled {
    -fx-opacity: 0.4;
}
.split-menu-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}
.split-menu-button > .arrow-button > .arrow {
    -fx-background-color: #c70039, #c70039;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}
.split-menu-button:openvertically > .arrow-button > .arrow  {
    -fx-background-color: #ff5733, #ff5733;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.split-menu-button {
    -fx-background-color: #c70039, #c70039;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
    -fx-padding: 0;
    -fx-border-radius:0px;
}
.split-menu-button > .label {
    -fx-text-fill: white;
    -fx-background-color: #c70039;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em;
}
.split-menu-button > .arrow-button {
    -fx-background-color: #c70039;
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em;
}

.split-menu-button:focused > .arrow-button {
    -fx-background-color: #ff5733;
    -fx-background-insets: 1, 2, -1.4, 2.6;

}

.split-menu-button:focused > .arrow-button > .arrow {
    -fx-background-color: #c70039;
}

.text-field{
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-border-color: #c70039;
    -fx-border-width : 0 0 1 0;
    -fx-font: 10px "Arial", Gadget, sans-serif;
    -fx-transition: all .15s ease;

}

.text-field:focused  {
    -fx-border-width : 1;
}

.toggle-button:focused{
    -fx-text-align: center;
    -fx-background-color: #ff5733;
}

.toggle-button:selected{
    -fx-text-align: center;
    -fx-background-color: #ff5733;
}

.button:hover,.toggle-button:hover{
     -fx-background-color: #900c3f;
}

.Label{
    fx-border: 2px;
}

.scroll-pane{
    -fx-font: 10px "Arial", Gadget, sans-serif;
}

.text {
    -fx-background-color: #c70039;
    -fx-font: 10px "Arial", Gadget, sans-serif;
    -fx-text-fill: #c70039;
}

.hyperlink {
    -fx-text-fill: #c70039;
}

.hyperlink:hover{
    -fx-text-fill: #ff5733;
}
.hyperlink:focused {
     -fx-border-color: #c70039;
}

.pane{

    -fx-font: 10px "Arial", Gadget, sans-serif;
    -fx-text-fill: #c70039;
}

.v-box{

    -fx-font: 10px "Arial", Gadget, sans-serif;
    -fx-text-fill: #c70039;
}

/* Styling the slider track */
.slider > .track {
     -fx-background-color: #ff5733;
     -fx-border-radius:0px;

}
.slider > .tick {
    -fx-background-color: #ff5733;
}
/* Styling the slider thumb */
.slider > .thumb {
     -fx-shape: "M0 0 H 90 V 90 H 10 Z";
     -fx-background-color: #c70039;
}

.slider > .thumb:hover {
    -fx-background-color: #ffc300;
}

/****************************************************************

  ScrollBar

****************************************************************/
.scroll-bar{
 -fx-background-color: rgb(211,211,211);
 -fx-background-radius: 0em;
 -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 0em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
 -fx-background-color: #c70039;
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
 -fx-background-color: #c70039;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: #900c3f;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: #ff5733;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 0em;
 -fx-padding: 4;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 0em;
 -fx-padding: 4;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: #c70039;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-padding: 0.25em;
     -fx-rotate: -90;
}

.scroll-bar:vertical .increment-arrow {
 -fx-background-color: #c70039;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;

}

.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: #c70039;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-rotate: 90;
}

.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: #c70039;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-rotate: 180;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.scroll-bar:vertical .decrement-arrow:pressed,
.scroll-bar:horizontal .decrement-arrow:pressed,
.scroll-bar:vertical .increment-arrow:pressed,
.scroll-bar:horizontal .increment-arrow:pressed {
    -fx-background-color: #ffc300;
}

